$bgColor: #c0e5d9;
$profileBGColor: #222222;
$profileInfoTextColor: #bdbdbd;
$profileInfoTextColorTitle: #e8e8e8;
$profileInfoTextColorAccent: #4cb493;
$underlineBeforeColor: #ffffff;
$hoverBeforeColor: #cecece;
