#cardAngel {

    margin-left: 10px;
    margin-right: 10px;

    .desc {

        color: $profileInfoTextColor;

    }

    .profile-info {

        .profile-Pic {
    
            top: -65px;
            left: -126px;
    
        }

    }


}