#cardManu {
    .profile-info {
        background-color: rgb(9, 54, 54);

    }
    #colorcool {
        color: aqua;
        text-decoration: dashed;
    }
    #colormascool {
        color: rgb(204, 106, 106);
    }    
    .desc {
      p {
        color: green;
      }
    }
  }